[Desktop Entry]
Version=20.23.01
Encoding=UTF-8
Name=sdl2snake
Comment=a simple snake game is written with C++, and is rendered by SDL2.
Exec=sdl2snake
Terminal=false
Type=Application
Categories=Game;BoardGame;
Icon=${SNAP}/meta/gui/icon.png
